/* estilo universal */
* {
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(221, 221, 221);
}
/* estilos */
h1{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 7rem;
    font-weight: 600;
    text-align: right;
    font-style: normal;
}
h2{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    font-style: normal;
}
h3{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 2rem;
    font-weight: 100;
    text-align: right;
    font-style: normal;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: rgb(68, 68, 68);
    font-size: 1rem;
    font-weight: 100;
    text-align: center;
    font-style: normal;
}
h5{
    font-family: 'Asap', sans-serif;
    color: rgb(226, 1, 1);
    font-size: 1.7rem;
    font-weight: 400;
}
.p{
    color: rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
.productos {
    background-color: rgb(255, 255, 255);
    margin:10px;
    padding: 0px;
    color:rgb(116, 115, 115);
}
.precio {
    font-size: 1.2rem;
}